@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2? family= Merienda:wght@300;400;500;600;700;800;900 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Prompt:ital,wght@0,100;0,200;0,300;1,100;1,200 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Inconsolata:wght@200;300;400;500 & display=swap');

:root{
    --fonte-destaque: 'Merienda', cursiva;
}

header{
    background-image:linear-gradient(to left, #90d1e7f2,#C4EEF2
    ) ;
    min-height: 120px;
    text-align: center;
    padding-top:1px;
    margin-top:-10px;
    margin-left: -10px;
    margin-right: -10px;
}

body{
    background-color:#7AB8BF;
}

header>h1 {
    font-family: var(--fonte-destaque);
    font-size:32px ;
    padding-top: 21px;
   margin-bottom: 19px;
    text-align: center;
    color: #161416c7 ;
    margin-top: -9px;
   text-shadow: 1px 1px 0px#a5c9e0;

}
header>p{
 color: #161416c7;
 font-family: var(--fonte-destaque);
 font-size: 22px;
 max-width: 600px;
 margin: auto;
 padding-right: 5px;
 padding-left: 5px;
 
}

main{
    background-color: rgba(255, 255, 255, 0.788);
    border-radius:20px; /* segue a msm estrutura,se for 4 numeros iguais, basta por uma vez só, se forem 2 iguais, basta por as duas iguais */ 
    box-shadow: 5px 5px 5px #BC4366;
    height:auto;
    width: 600px;
    margin: auto;
    padding:15px;
   }

   nav{
    background-color: rgba(255, 235, 205, 0.893); 
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.566);
    margin-top:0px;
    margin-bottom: 5px;
    margin-right: -10px;/* negativo bota a margem pra fora p ficar ajustado*/
    margin-left: -10px;
    border-radius: 6px;
   }

   nav>a{ /* a aqui é o link*/
    color: black;
    padding: 10px;
    text-decoration: none; /* tira o sulinhado*/
    transition-duration: 0.2s;
    border-radius: 8px; /* deixa a borda redonda*/
   }

   nav > a:hover{ /* 'a' aqui é o link e o hover é mostar a cor quando passar o mouse*/
    background-color: rgba(206, 19, 206, 0.462); /* deixa a cor quando passa o mouse*/
  }